snippet stdio "stdio header"
#include <stdio.h>

$0
endsnippet

snippet head "file head"
// /usr/bin/gcc
// --- coding: utf-8 ---
// File Name:     `!v expand("%")`
// Author:        Kinnariya
// Created Time:  `!v strftime("%Y-%m-%d  %H:%M:%S")`
endsnippet
